body{
   background-image: url("./img/backgroundImage.jpg");
   margin: 0;
}

.goOut{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #C43E18;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    width: 300px;
    height: 90px;
    margin-top: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}

.menu{
    width: 450px;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #C43E18;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    margin: 10px 0px;
}

.aquarium{
    margin: 100px 0px 0px 430px;
    width: 570px;
    height: 400px;
}

.seaAnimal{
    margin: -170px 0px;
    padding: 0px 0px 0px 500px;
}

.seaAnimal2{
    margin: -260px 0px;
    padding: 0px 0px 0px 500px;
}

.question{
    display: flex;
    width: 95%;
    justify-content: end;
    margin-top: 370px;
}

.modalWindow{
    justify-content: end;
    border: 5px solid #C43E18;
    background-color: rgba(255, 255, 255, 1);
    margin-top: -370px;
    margin-left: 800px;
    z-index: 3;
    width: 463px;
    height: 303px;
    border-radius: 30px;
    position: absolute;
}

.faqBlock{
    display: flex;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #E1E1E1;
    margin: 10px;
    border-radius: 12px 12px 0px 0px;
}

.faqP{
    display: flex;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #E1E1E1;
    margin: -10px 10px 10px ;
    border-radius: 0px 0px 12px 12px;
}